
.grid-container {
  max-width: 1080px;
  position: relative;
}

body {
  min-width: 320px;
}

.grid-parent {
    padding-left: 0;
    padding-right: 0;
  }

.tablet-grid-50 {
    float: left;
    width: 50%;
  }

  
html, body, div, a, em, img, center,
ul, li, fieldset, form, 
table {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

 ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  background: #edeff0;
  padding: 50px 0 0;
  font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

.centered {
  margin: 0 auto;
}

.contained {
  background: white;
  padding: 30px 15px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.heading {
  margin-bottom: 20px;
}

h1,
h2 {
  font-size: 2.4em;
  font-weight: 500;
  margin-bottom: 8px;
  color: #384047;
  line-height: 1.2;
}

h2 {
  font-size: 1.8em;
}
aside h2 {
  margin-bottom: 15px;
}

p, label {
  color: #8d9aa5;
  font-size: 1.4em;
  margin-bottom: 15px;
  line-height: 1.4;
}

a {
  color: #3f8abf;
  line-height: 1.4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul li {
  margin: 15px 0 0;
  font-size: 1.6em;
  color: #8d9aa5;
  position: relative;
}

#photos li {
  margin: 30px 0 0;
  vertical-align: middle;
}
#photos li:before {
  display: none;
}
#photos .image {
  display: block;
  min-height: 240px;
  background: #edeff0;
  text-align: center;
  height: 260px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#photos .image:hover {
  background: #dfe3e4;
}
#photos .image:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#photos img {
  max-width: 80%;
  max-height: 200px;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

input[type=search] {
  font-size: 2em;
}
